@import "settings";
@import "foundation";
@import "octicons";

html { font-size: 62.5%; }

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
}

hr {
	border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #333, #000);
	width: 98%;
  position: relative;
  left: 1%;
}

.full {
	height: 100%;
	background-color: rgba(192, 216, 144, 1);
}

.resume {
	color: black;
	background-color: rgba(192, 216, 144, 1);
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 2.5rem 4.0rem;
}

.name {
	overflow: hidden;
}

.contact {
	background-color: rgba(192, 216, 144, 1);
	list-style: none;
	z-index: 99;

	a {
		color: inherit;
	}

	li {
		padding-bottom: 0.5rem;
		font-size: 2.2rem;
		width: 100%
	}

	li:first-child {
		span {
			position: relative;
			top: 0.4rem;
			font-size: 3.8rem;
		}
	}

	img {
		position: relative;
		top: -0.1rem;
		height: 3.2rem;
		width: 3.2rem;
	}

	li:last-child {
		span {
			position: relative;
			top: 0.3rem;
		}
	}
}

.mini-contact {
	list-style: none;
	display: none;
	margin: 0;

	li {
		padding-bottom: 0.5rem;
		font-size: 2.2rem;
		padding-right: 2rem;
		display: inline;
	}

	li:nth-child(2) {
		span {
			position: relative;
			top: 0.9rem;
			font-size: 5rem;
		}
	}

	img {
		position: relative;
		top: -0.1rem;
		height: 3.2rem;
		width: 3.2rem;
	}

	li:last-child {
		padding-right: 0rem;

		span {
			position: relative;
			top: 0.3rem;
		}
	}
}

.skills {
	h3 {
		font-size: 5rem;
		line-height: 5rem;
	}

	ul {
		list-style: none;
		margin: 0;
 	 position: relative;
 	 left: 0.2rem;
	}

	li {
		font-size: 1.6rem;
	}
}

 .employment {
	 @extend .skills;
 }

 .education {
	 @extend .skills;
 }

 .year {
	 font-size: 2rem;
	 position: relative;
	 left: 0.2rem;
 }

 .company, .title, .school, .major {
	 font-size: 1.6rem;
	 position: relative;
	 left: 0.2rem;

	 span {
		 position: relative;
		 left: 2rem;
		 color: #404040;
		 font-size: 1.2rem;
	 }
 }

@media only screen and (min-width: 400px) {
	h1 {
		font-size: 6rem;
		line-height: 6rem;
	}

	h2 {
		font-size: 2rem;
		line-height: 2rem;
	}
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
	.name {
		text-align: center;
	}

	.contact {
		display: none;
	}

	.mini-contact {
		display: block;
	  width: 100%;
	  margin: 0;
	  position: relative;
	  text-align: center;
	}
}

@media only screen and (min-width:600px) {
	.name {
		text-align: left;
	}

	.contact {
	  position: fixed;
	  right: 4.5rem;
	  top: 2.5rem;
	}
}

@media only screen and (min-width:600px) and (max-width: 850px) {
	.contact {
		li {
			font-size: 1.5rem;
		}

		li:first-child {
			height: 3.5rem;
			span {
				top: 0.45rem;
				font-size: 2.9rem;
			}
		}

		img {
			position: relative;
			height: 2.5rem;
			width: 2.5rem;
		}

		li:last-child {
			position: relative;
			top: -0.5rem;
			span {
				position: relative;
				top: 0.3rem;
				font-size: 2.5rem;
			}
		}
	}
}

@media only screen and (min-width: 850px) {
	h1 {
		font-size: 9rem;
		line-height: 9rem;
	}

	h2 {
		font-size: 3rem;
		line-height: 3rem;
		position: relative;
		left: 0.5rem;
	}
}
