<div class="resume">
	<div class="name">
		<h1>Eduardo Perez</h1>
		<h2>Software Developer</h2>
	</div>
	<ul class="contact">
		<li><span class="mega-octicon octicon-mail"></span> /edrdo.prz@gmail.com</li>
		<li><img src="assets/In-Black-28px.png"/> /edrdoprz</li>
		<li><span class="mega-octicon octicon-mark-github"></span> /edrdoprz</li>
	</ul>
	<ul class="mini-contact">
		<li><img src="assets/In-Black-28px.png"/></li>
		<li><span class="mega-octicon octicon-mail"></span></li>
		<li><span class="mega-octicon octicon-mark-github"></span></li>
	</ul>
</div>
