<div class="resume">
	<ul class="contact">
		<li><span class="mega-octicon octicon-mail"></span> /edrdo.prz@gmail.com</li>
		<li><img src="assets/In-Black-28px.png"/> /edrdoprz</li>
		<li><span class="mega-octicon octicon-mark-github"></span> /edrdoprz</li>
	</ul>
</div>
