<div class="resume">
	<div class="name">
		<h1>Eduardo Perez</h1>
		<h2>Software Developer</h2>
	</div>
	<ul class="contact">
		<a href="mailto:edrdo.prz@gmail.com"><li><span class="mega-octicon octicon-mail"></span> /edrdo.prz@gmail.com</li></a>
		<a href="https://www.linkedin.com/in/edrdoprz"><li><img src="assets/In-Black-28px.png"/> /edrdoprz</li></a>
		<a href="https://github.com/edrdoprz"><li><span class="mega-octicon octicon-mark-github"></span> /edrdoprz</li></a>
	</ul>
	<ul class="mini-contact">
		<li><img src="assets/In-Black-28px.png"/></li>
		<li><span class="mega-octicon octicon-mail"></span></li>
		<li><span class="mega-octicon octicon-mark-github"></span></li>
	</ul>
	<hr>
	<section class="skills">
		<h3>Skills</h3>
		<ul>
			<li>- C#, .NET, MSSQL</li>
			<li>- JavaScript, Ember.js, HTML, Handlebars, CSS, SASS</li>
			<li>- Soft skills include Objective-C (for iOS) and Java (for Android)</li>
		</ul>
	</section>
	<hr>
	<section class="employment">
		<h3>Experience</h3>
		<span class="year">2014 - Present</span>
		<h4 class="company">OrthoBanc <span class="location">Chattanooga, TN</span></h4>
		<h4 class="title">Software Developer</h4>
		<hr>
		<span class="year">2013 - 2013</span>
		<h4 class="company">Shoap Technical Services <span class="location">Atlanta, GA</span></h4>
		<h4 class="title">Technical Writer</h4>
	</section>
	<hr>
	<section class="education">
		<h3>Education</h3>
		<span class="year">2010 - 2013</span>
		<h4 class="school">Georgia Institute of Technology</h4>
		<h4 class="major">BS of Computer Science</h4>
		<hr>
		<span class="year">2008 - 2010</span>
		<h4 class="school">Dalton State College</h4>
		<h4 class="major">AS of Physics</h4>
	</section>
</div>
