<div class="welcome">
	<div class="small-8 small-centered columns">
		hello, my name is eduardo perez. this is obviously still a work in 
		progress, so please stay tuned for things to come. it is built with 
		<a href="http://emberjs.com/">ember.js</a>, a framework i have very much 
		enjoyed developing with this past year, on top of 
		<a href="https://nodejs.org/">node.js</a> within a virtual private server 
		from <a href="https://www.digitalocean.com/">digitalocean</a>. i am also 
		currently experimenting with 
		<a href="http://foundation.zurb.com/">foundation</a> with hopes that it 
		will help on the front-end and expose me to something other than 
		bootstrap.
	</div>
</div>