<div class="resume">
	<ul class="contact">
		<li><span class="mega-octicon octicon-mail"></span> edrdo.prz@gmail.com</li>
		<li><img src="assets/In-Black-28px.png" height="32px" width="32px"/> /edrdoprz</li>
		<li><span class="mega-octicon octicon-mark-github"></span> /laylowwwww</li>
	</ul>
</div>
